body {
  font-family: Montserrat, sans-serif;
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }

.submit {
  margin-top: 17px;
}


.submit-button {
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.10em;
  border-color: white;
}

.Maintitle {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.form-box {
  
  padding: 50px 10px;
  margin: -7px -7px;
  text-align: center;
  width: 100%; 
}

.agreed-box {
  margin-top: 10px;
  padding-bottom: 10px;
}

.birthday-box {
  margin-top: 15px;
}

.credentials {
  margin-top: 10px;
  padding-bottom: 5px;
}

.gender {
  margin-top: 15px;
}

label {
  font-weight: bold;
  color: white;
}
