body {
  font-family: Montserrat, sans-serif;
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

.submit-button {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.10em;
}

.Maintitle {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.form-box {
  
  padding: 50px 10px;
  margin: -7px -7px;
  text-align: center;
  width: 100%; 
}

.agreed-box {
  margin-top: 10px;
  padding-bottom: 10px;
}

.birthday-box {
  margin-top: 15px;
}

.credentials {
  margin-top: 10px;
  padding-bottom: 5px;
}

.gender {
  margin-top: 15px;
}

.github-link {
  margin-bottom: -15px;
  color: white;
}

label {
  font-weight: bold;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}